/*==================================
  Access
==================================*/
#Access main {
  .sect_2 {
    .wrapper {
      padding: 0 0 80px;
      .container {
        position: relative;
        &::before {
          content: "";
          display: block;
          max-width: 1025px;
          height: 295px;
          background-color: #fff;
          position: absolute;
          top: -85px;
          left: 0;
          right: 0;
          z-index: 0;
          border-radius: 50%;
          margin: 0 auto;
        }
        .content {
          position: relative;
          z-index: 5;
          margin: -25px 0 0;
          .ttl_cont {
            display: flex;
            align-items: center;
            flex-direction: column;
            .ttl {
              width: 395px;
            }
            .sub {
              width: 116px;
              margin: 20px 0;
            }
            .dot {
              width: 409px;
            }
          }
          .desc {
            margin: 30px 0 0;
            letter-spacing: 0.1em;
            line-height: 34px;
            text-align: center;
            span {
              display: block;
              margin: 10px 0 0;
            }
          }
        }
        .img_tl {
          position: absolute;
          top: -80px;
          left: 20px;
          width: 258px;
        }
        .img_tr {
          position: absolute;
          top: -125px;
          right: 10px;
          width: 265px;
        }
        .row {
          position: relative;
          margin: 85px 0 0;
          .col {
            position: unset;
            &:first-child {
              width: 50%;
              .kid_img {
                width: 60%;
                border-radius: 20px;
                background-image: url(/images/top/sect_2/img_4.png);
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
              }
              .float_img {
                position: absolute;
                top: -130px;
                right: 0;
                z-index: 6;
                width: 396px;
              }
            }
            &:last-child {
              width: 50%;
              display: flex;
              align-items: flex-end;
              .col-content {
                position: relative;
                background-color: #fff;
                border-radius: 10px;
                text-align: center;
                padding: 45px 0px 50px 50px;
                margin: 40px 0 0;
                .tel {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  p {
                    margin-left: 10px;
                    &:nth-child(1) {
                      background-color: #369ce6;
                      padding: 5px 10px;
                      color: #fff;
                      line-height: 18px;
                      border-radius: 5px;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                      font-size: 15px;
                      line-height: normal;
                    }
                  }
                }
              }
              h3 {
                text-align: left;
              }
              .slogan {
                width: 233px;
                height: auto;
              }
              .col-sub {
                text-align: left;
                color: #787878;
                font-size: 12px;
              }
              h4 {
                font-size: 15px;
                line-height: 32px;
                letter-spacing: 0.08em;
                color: #4e340d;
                margin: 15px 0 0;
                padding-bottom: 15px;
                text-align: left;
                border-bottom: 4px dashed #c3c3c3;
              }
              .p_border {
                width: 100%;
                &:nth-child(5) {
                  margin: 3px 0 0;
                  display: block;
                }
              }
              p {
                line-height: 30px;
                letter-spacing: 0.025em;
                color: #4e340d;
                font-size: 14px;
                margin: 3px 0 0;
                span {
                  font-size: 17px;
                }
              }
              .tel {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin: 10px 0 0;
                &__txt {
                  @include is-max(1070px) {
                    width: 200px;
                  }
                }
                a {
                  @include YuGo_bold();
                  font-size: 38px;
                  color: #e93c71;
                  display: flex;
                  align-items: center;
                  margin: 0 0 0 13px;
                  @include is-max(1200px) {
                    font-size: 2.7vw;
                  }
                  @include is-max(1070px) {
                    font-size: 2.3vw;
                  }
                  svg {
                    width: 24px;
                    height: 24px;
                    margin: 0 5px 0;
                    path {
                      fill: #e93c71;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
