/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.sp {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $font-color;
    text-decoration: none;
  }
  &:active {
    color: $font-color;
  }
  &.tel {
    pointer-events: none;
    cursor: default;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}
/*　Retina対応時のCSS↓　*/
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  // background: #fff;
  width: 100%;
  height: 115px;
  .header_inner {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 65px;
    @include is-max(1100px) {
      padding: 0 30px;
    }
    .logo {
      width: 300px;
      height: 43px;
      background-image: url(/espokids/images/common/logo_primary.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 0 10px;
      @include is-max(1100px) {
        width: 220px;
        height: 32px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .nav {
      &__list {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 50px;
        overflow: hidden;
        padding: 0 0 0 40px;
      }
      &__item {
        position: relative;
        &:first-child {
          &::after {
            top: 0 !important;
          }
          a {
            display: flex;
            align-items: center;
            img {
              width: 21px;
            }
          }
        }
        &:nth-child(-n + 3) {
          margin: 0 10px 0 0;
          padding: 0 30px 0 0;
          &::after {
            content: "・・・";
            display: inline-block;
            font-size: 10px;
            color: #412718;
            transform: rotate(90deg);
            letter-spacing: -0.1em;
            position: absolute;
            top: 3px;
            right: 0;
            transform: rotate(90deg);
          }
        }
        &:nth-child(6) {
          background-color: #e93c71;
          width: 230px;
          height: 60px;
          margin: 0 0 0 20px;
          .nav__link {
            color: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .txt {
              @include Noto_Sans(500);
              font-size: 15px;
              letter-spacing: 0.05em;
            }
            .tel {
              position: relative;
              @include YuGo_bold();
              font-size: 20px;
              letter-spacing: -0.01em;
              line-height: 1.1;
              margin: 0 0 0 7px;
              svg {
                width: 14px;
                height: 14px;
                position: absolute;
                top: 4px;
                left: -19px;
                path {
                  fill: #fff;
                }
              }
            }
          }
        }
      }
      &__link {
        @include is-max(1100px) {
          font-size: 12px;
        }
        img {
          width: 10px;
        }
      }
    }
  }
}

/* footer
==================================*/
.footer {
  padding: 50px 0;
  position: relative;
  nav {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 16px;
    ul {
      max-width: 675px;
      display: flex;
      justify-content: space-between;
      li {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 0 0;
    .col {
      &:first-child {
        width: 61%;
      }
      &:last-child {
        width: 31%;
        .col-icons {
          display: flex;
          justify-content: flex-end;
          .icon-1 {
            width: 128px;
            height: auto;
          }
          .icon-2 {
            width: 128px;
            height: auto;
          }
        }
      }
      .col-content {
        display: flex;
        align-items: center;
        &__1 {
          h3 {
            width: 233px;
            height: auto;
          }
          .col-sub {
            font-size: 12px;
            font-weight: 300;
            color: #787878;
            padding-top: 10px;
          }
        }
        &__2 {
          margin-left: 35px;
          display: flex;
          .ttl {
            background: #369ce6;
            border-radius: 5px;
            color: #fff;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
          }
          .add_dtls {
            padding-left: 10px;
            line-height: 22px;
          }
        }
      }
      .contact {
        font-size: 15px;
        font-weight: 500;
        padding-top: 15px;
        letter-spacing: 0.05em;
        line-height: 20px;
      }
      .description {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1em;
        line-height: 27px;
      }
    }
  }
  .back-to-top {
    width: 72px;
    height: auto;
    position: absolute;
    bottom: 35px;
    right: 25px;
  }
}
.copy {
  background-color: #f3f3f3;
  padding: 15px 0;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col {
      &:first-child {
        width: 50%;
        ul {
          display: flex;
          li {
            display: flex;
            align-items: center;
            padding-right: 30px;
            img {
              width: 5px;
              height: 6px;
              margin-right: 5px;
            }
            a {
              font-size: 14px;
              font-weight: 500;
              line-height: 1;
              color: #535353;
            }
          }
        }
      }
      &:last-child {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        small {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.05em;
          line-height: 27px;
          text-align: right;
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  width: 72px;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
    &:hover {
      opacity: 0.7;
    }
  }
}
