/*==================================
  Top
==================================*/
#Top{
  overflow: hidden;
  .footer_inner{
    .footer_1{
      padding: 80px 0 0;
    }
  }
}
#Top main {
  .sect_1{
    position: relative; 
    z-index: 0;
    .wrapper{
      width: 100%;
      height: 100vh;
      .content{
        width: 100%;
        height: 100%;
        .swiper{
          height: 100%;
          .swiper-wrapper{
            height: 100%;
            .swiper-slide{
              @for $i from 1 through 13 {
                &.slide-img-#{$i}{
                  background-image: url(../images/top/sect_1/img_#{$i}.jpg);
                  background-size: cover;
                  background-position: center center;
                }
              }
            }
          }
        }
      }
    }
  }
  .sect_2{
    .wrapper{
      .container{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        &::before{
          content: "";
          display: block;
          width: 90%;
          height: 147.5px;
          background-color: #fff;
          position: absolute;
          top: -55px;
          left: 0;
          right: 0;
          z-index: 0;
          border-radius: 50%;
          margin: 0 auto;
        }
        .content{
          position: relative;
          z-index: 5;
          padding: 0 20px;
          margin: -25px 0 0;
          .ttl_cont{
            display: flex;
            align-items: center;
            flex-direction: column;
            .ttl{
              width: 232.5px;
            }
            .sub{
              width: 240px;
              margin: 15px 0;
            }
            .dot{
              width: 240px;
            }
            .price_banner{
              width: 102.5px;
              position: absolute;
              left: 50%;
              transform: translate(-175px, -110px);
              @include is-max(370px){
                transform: translate(-150px, -110px);
              }
            }
          }
          .desc{
            margin: 20px 0 0;
            line-height: 24px;
            text-align: left;
            span{
              display: block;
              margin: 20px 0 0;
            }
          }
        }
        .img_tl{
          width: 70%;
          margin: 20px 0 0 20px;
        }
        .img_tr{
          position: absolute;
          top: -85px;
          right: 0;
          width: 48.5%;
        }
        .row{
          position: relative;
          margin: 105px 0 0;
          .col{
            position: unset;
            &:first-child{
              width: 100%;
              .float_img{
                position: absolute;
                top: -100px;
                right: 10px;
                z-index: 6;
                max-width: 48%;
              }
            }
            &:last-child{
              position: relative;
              width: 100%;
              background-color: #fff;
              border-radius: 10px;
              text-align: center;
              padding: 20px 20px 40px;
              h3{
                img{
                  width: 335px;
                }
              }
              h4{
                font-size: 15px;
                line-height: 24px;
                letter-spacing: .03em;
                color: #4e340d;
                margin: 15px 0 0;
              }
              .p_border{
                max-width: 333px;
                width: 100%;
                &:nth-child(5){
                  margin: 3px auto 0;
                  display: block;
                }
              }
              p{
                line-height: 26px;
                letter-spacing: .025em;
                color: #4e340d;
                font-size: 16px;
                margin: 3px 0 0;
              }
              .tel{
                margin: 15px 0 0;
                &__txt{
                  background-color: #ffedf3;
                  letter-spacing: .08em;
                  color: #e93c71;
                  margin: 0;
                  padding: 2px 0;
                  border-radius: 2.5px;
                }
                a{
                  @include YuGo_bold();
                  font-size: 35px;
                  color: #e93c71;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 7px 0 0 0;
                  svg{
                    width: 27px;
                    height: 24.5px;
                    margin: 0 5px 0;
                    path{
                      fill: #e93c71
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sect_3{
    .wrapper{
      background-image: url(/images/top/sect_3/sp/bg_img.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 40px 0;
      .container{
        .content{
          .ttl{
            margin: 0 0 40px;
            text-align: center;
            h3{
              img{
                width: 196px;
              }
            }
            .dot{
              width: 190px;
              opacity: .5;
            }
            p{
              color: #fff;
              line-height: 24px;
              letter-spacing: 0;
              margin: 15px 0 0;
            }
          }
          .row{
            justify-content: space-between;
            padding: 0 30px;
            .col{
              width: 100%;
              &:nth-child(2){
                .bg{
                  height: 99%;
                }
                .txt_cont{
                  h4{
                    letter-spacing: 0;
                    color: #d51755;
                  }
                }
              }
              &:nth-child(3){
                .bg{
                  height: 99%;
                }
                .txt_cont{
                  h4{
                    color: #399514;
                    line-height: 25px;
                  }
                }
              }
              .bg{
                display: block;
                margin: 0 auto;
              }
              .txt_cont{
                width: 100%;
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;
                text-align: center;
                h4{
                  font-weight: 400;
                  letter-spacing: .1em;
                  line-height: 22.5px;
                  font-size: 23px;
                  text-align: center;
                  color: #018fd1;
                  span{
                    font-size: 14px;
                  }
                }
                p{
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: .08em;
                  line-height: 18px;
                  text-align: center;
                  margin: 11px 0 0;
                }
                span{
                  position: relative;
                  margin: 5px 0 0;
                  display: inline-block;
                  .bg_arrow_img{
                    width: 31.5px;
                  }
                  .arrow_img{
                    width: 12.5px;
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .3s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sect_4{
    .wrapper{
      .content{
        .row{
          .col{
            width: 100%;
            margin: -1px 0 0;
            &:nth-child(2){
              .txt_cont{
                h3{
                  img{
                    width: 48.5px;
                  }
                }
              }
            }
            &:nth-child(3){
              .txt_cont{
                h3{
                  img{
                    width: 155.5px;
                  }
                }
              }
            }
            .txt_cont{
              width: 45%;
              position: absolute;
              top: 50%;
              right: 40px;
              transform: translate(0, -50%);
              text-align: left;
              h3{
                img{
                  width: 140px;
                }
              }
              p{
                color: #fff;
                font-size: 14px;
                line-height: 18.2px;
                letter-spacing: .08em;
                margin: 10px 0 0;
              }
              span{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 140px;
                height: 30px;
                background-color: #fff;
                margin: 20px 0 0;
                border-radius: 50px;
                font-size: 12px;
                letter-spacing: .05em;
                color: #ef7000;
                img{
                  width: 9px;
                  position: absolute;
                  top: 12px;
                  right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
